extends base.pug

block main

  div(hx-get=`/boards/${board.id}/players` hx-trigger="every 2s")
    include players.pug

  .mb-3
    button.form-control.btn.btn-lg(
      data-bs-toggle="modal"
      data-bs-target="#manage-players"
    )
      i.bi-person-gear &nbsp;
      span Manage Players

  #manage-players.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title Manage Players
          button.btn-close(
            data-bs-dismiss="modal"
            aria-label="Close"
          )
        .modal-body

          #manage-players-list
            include manage-players-list.pug

          form.m-0.p-0(
            hx-post=`/boards/${board.id}/players`
            hx-target="#manage-players-list"
          )
            label.col-sm-2.col-form-label Add Player
            .input-group.mb-3
              input#add-player-color.form-control.form-control-color(
                style="max-width: 48px;"
                type="color"
                name="color"
              )
              input#add-player-name.form-control(
                type="text"
                name="name"
                required
                placeholder="Name"
              )
              button.form-control.btn.btn-primary(
                type="submit"
                style="max-width: 48px;"
              )
                i.bi-person-plus

  #do-chore.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title Track Chore
          button.btn-close(
            data-bs-dismiss="modal"
            aria-label="Close"
          )
        .modal-body(hx-get=`/boards/${board.id}/chores` hx-trigger="every 2s")
          include chores-list.pug
        .modal-footer
          button.form-control.btn.btn-lg(
            data-bs-toggle="modal"
            data-bs-target="#manage-chores"
          )
            i.bi-gear &nbsp;
            span Manage Chores

  #manage-chores.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title Manage Chores
          button.btn-close(
            aria-label="Close"
            data-bs-toggle="modal"
            data-bs-target="#do-chore"
          )
        .modal-body
          #manage-chores-list 
            include manage-chores-list.pug

          form.m-0.p-0(
            hx-post=`/boards/${board.id}/chores`
            hx-target="#manage-chores-list"
            hx-on--after-request="this.reset()"
          )
            label.col-sm-2.col-form-label Add Chore
            .input-group.mb-3
              input#add-chore-name.form-control(
                type="text"
                name="name"
                required
                placeholder="Name"
              )
              input#add-chore-points.form-control(
                type="number"
                style="max-width: 64px;"
                name="points"
                required
                placeholder="Pts"
              )
              button.form-control.btn.btn-primary(
                type="submit"
                style="max-width: 48px;"
              )
                i.bi-plus
