each player in players
  .m-0.p-0.input-group.mb-3
    input.form-control.form-control-color(
      style="max-width: 48px;"
      type="color"
      name="color"
      value=player.color
      hx-put=`/manage-players/${player.id}`
      hx-target="#manage-players-list"
    )
    input.form-control(
      type="text"
      placeholder="Name"
      name="name"
      value=player.name
      hx-put=`/manage-players/${player.id}`
      hx-target="#manage-players-list"
    )
    input.form-control(
      type="number"
      placeholder="Pts"
      name="points"
      value=player.points
      hx-put=`/manage-players/${player.id}`
      hx-target="#manage-players-list"
    )
    button.form-control.btn.btn-danger.-cb-btn-delete(
      style="max-width: 48px;"
      hx-delete=`/manage-players/${player.id}`
      hx-target="#manage-players-list"
    )
      i.bi-trash
